.legend rect {
    fill:white;
    opacity:0.4;
    font-size: 14px;
    line-height: 20px;
}

.legend-items {
    font-size: 14px;
    line-height: 20px;
}

path.slice {
    transition: fill-opacity .4s ease;
}

.slice-label {
    cursor: pointer;
}


.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}